# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/CopilotIndices/17.14.698.11175
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/FileContentIndex
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/CopilotIndices/17.14.670.39694


/Esame_Ifoa_Server/obj
**/.vs
**/Esame_Ifoa_Server/.vs
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/config/applicationhost.config
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/FileContentIndex/596cfe2f-21cd-4e6a-9595-a3fc56fbf64a.vsidx
/Esame_Ifoa_Server/.vs/ProjectEvaluation/esame_ifoa_server.metadata.v9.bin
/Esame_Ifoa_Server/.vs/ProjectEvaluation/esame_ifoa_server.projects.v9.bin
/Esame_Ifoa_Server/bin/Debug/net8.0/Esame_Ifoa_Server.dll
/Esame_Ifoa_Server/bin/Debug/net8.0/Esame_Ifoa_Server.exe
/Esame_Ifoa_Server/bin/Debug/net8.0/Esame_Ifoa_Server.pdb
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/v17/.suo
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/v17/DocumentLayout.backup.json
/Esame_Ifoa_Server/.vs/Esame_Ifoa_Server/v17/DocumentLayout.json
