<div class="container">

    <h1>CONTACT LIST</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>
            @for (contact of contacts; track $index) {
            <tr>
                <th scope="row">{{ contact.id }}</th>
                <td>{{ contact.fullName }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.department }}</td>
            </tr>
            }

        </tbody>
    </table>

    <div class="text-center">
        <button class="btn btn-primary" (click)="goToAddContact()">Add Contact</button>

</div>